.main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fadeIn {
  40% {
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateY(150%);
  animation: fadeIn 3000ms cubic-bezier(0, 0.55, 0.45, 1) forwards;
  text-align: center;
  width: min(500px, 90%);
}

.description {
  margin: 15px 0;
}

.celebrate {
  position: relative;
  transition: all 0.3s;
}

.celebrateIcon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -55%);
  transition: all 0.4s;
  opacity: 0;
}

.celebrate:hover {
  padding-right: 30px;
}
.celebrate:hover .celebrateIcon {
  opacity: 1;
  transform: translate(-0.5rem, -55%);
}
